h1,p{

}
body {
    background-color: #fff;
    font-family: Microsoft YaHei;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
}
#container{
    width:1024px;
    height:615px;
}
#container1{
    width: 75%;
    height:600px;
    float:left;
    background-color:#addadf;
    padding-top: 20px;
}
#container2{
    width: 25%;
    height:600px;
    float:right;
    background-color:#fff899;
    padding-top: 20px;
}
#footer{
    width: 1024px;
    height:15px;
    background-color:#153341;
    position: absolute;
    bottom: 20px;

}
