h1,p{

}
body {
    background-color: #fff;
    font-family: Microsoft YaHei;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
}
#container{
    width: 75%;
    height:600px;

    background-position:left;
    position:relative;
    float:left;

    background-color:#addadf;
    padding-top: 20px;
}

